# AIDER (AI Assistant)
OPENAI_API_KEY=sk-proj-...
OPENROUTER_API_KEY=sk-or-v1-...
AIDER_OPENROUTER_API_KEY=sk-or-v1-...
HF_TOKEN=hf_...
AIDER_HF_TOKEN=hf_...
GEMINI_API_KEY=AIzaSy...
AIDER_GEMINI_API_KEY=AIzaSy...

LITELLM_NUM_RETRIES=5